/* Home page */
body {
  background-color: #ccc7b3;
}

.flexbox {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
a {
  font-size: 2em;
  font-family: monospace;
  color: black;
  text-decoration: none;
  margin-top: 8vh;
}

.main {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 100px;
  min-height: 60vh;
  border: 3px solid black;
}

h1 {
  font-size: 7em;
  margin-left: 5vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: none;
  font-family: cursive;
}

.intro {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 5vw;
  margin-top: 6vh;
  margin-bottom: 5vh;
  margin-right: 35vw;
  font-size: 2em;
  font-weight: 10;
  line-height: 1.5;
}

.Image {
  min-height: 20rem;
  max-width: 100%;
  margin-top: -48vh;
  margin-left: 62vw;
  margin-bottom: 3vh;
  margin-right: 2vw;
  float: right;
}

.quote {
  font-size: 2em;
  margin-right: 40vw;
  margin-left: 5vw;
  line-height: 1.8;
  font-style: italic;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* About page */

.about1 {
  display: flex;
  border: 2px solid black;
  padding: 2em;
  margin: 0 auto;
  margin: 3em 3em;
  justify-content: space-evenly;
}

hr {
  margin-top: 3em;
  border-bottom: 3px solid black;
}

.hobbies {
  margin-top: 2rem;
  font-size: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: underline 2px;
  text-align: center;
}

#basketball {
  width: 60vh;
  height: 20rem;
  margin-right: 3em;
}

.discrip {
  font-size: 2em;
  line-height: 1.2;
}

/* Portfolio page */

.project1 {
  display: flex;
  border: 2px solid black;
  padding: 2em;
  margin: 1em 3em 3em 3em;
  justify-content: space-evenly;
}

#guess {
  width: 60vh;
  height: 20rem;
  margin-right: 3em;
}

.guessDescrip {
  font-size: 2em;
  line-height: 1.5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.first-project {
  font-family: "Courier New", Courier, monospace;
  margin-top: 1em;
  margin-left: 1em;
  font-size: 3rem;
  text-decoration: underline 3px;
}

/* Contact page */

.contact {
  margin-top: 2rem;
  font-size: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: underline 2px;
  text-align: center;
  font-weight: 100;
}

.row {
  border: 3px solid black;
  margin: 3em 30em 0em 30em;
  height: 30em;
  justify-content: center;
}

.center {
  margin: auto;
  padding: 5px;
}

label {
  font-size: 3em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
}

input {
  display: block;
  width: 70em;
}

#info {
  height: 4em;
}

.messBox {
  margin-top: 5px;
  height: 8em;
}

#submit {
  margin-top: 10px;
  font-size: 30px;
  width: 31.4em;
  height: 1.7em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
